@using Nition.Models.AccountViewModels
@model Nition.Models.AccountViewModels.LoginViewModel

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Увійти</h4>
            </div>
            <div class="modal-body">
               
                   
                            <form role="form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <fieldset>
                                    <h2>Введіть логін та пароль</h2>
                                    <hr class="colorgraph">
                                    <div class="form-group">
                                        <input asp-for="Login" name="login" id="emailLog" class="form-control input-lg" placeholder="логін">
                                        <span asp-validation-for="Login" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" type="password" name="password" id="passwordLog" class="form-control input-lg" placeholder="пароль">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <span class="button-checkbox">
                                        <button type="button" class="btn" data-color="info">Запам'ятати</button>
                                        <input asp-for="RememberMe" type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                                        <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-lg btn-link pull-right">Забули пароль?</a>
                                    </span>
                                    <hr class="colorgraph">
                                    <div class="row">
                                       
                                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Увійти">
                                       
                                        
                                            <a asp-controller="Account" asp-action="Register" class="btn btn-link btn-lg  pull-left">Зареєструватися як новий користувач</a>
                                       
                                    </div>
                                </fieldset>
                            </form>
                    
            </div>
        </div>
    </div>
</div>
