@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<div class="container-fluid" id="registrationDiv">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>Реєстрація</h1>
    </div>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Логін:</h6>
                <input type="text" class="form-control" id="usr" placeholder="Введіть логін" name="usr">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Ім'я:</h6>
                <input type="text" class="form-control" id="usr" placeholder="Введіть ім'я" name="usr">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Прізвище:</h6>
                <input type="text" class="form-control" id="usrSurnm" placeholder="Введіть прізвище" name="usrSurnm">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Email:</h6>
                <input type="email" class="form-control" id="email" placeholder="Введіть email" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <h6>Ви:</h6>
                <select class="form-control" id="selRole">
                    <option>Лектор</option>
                    <option>Студент</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Пароль:</h6>
                <input type="password" class="form-control" id="pwd" placeholder="Введіть пароль" name="pwd">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Пароль:</h6>
                <input type="password" class="form-control" id="pwdTwo" placeholder="Підтвердіть пароль" name="pwdTwo">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Підтвердити</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid" id="gap2"></div>

<!--
<div class="container-fluid" id="logInDiv">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>У Вас є акаунт?/Увійти</h1>
    </div>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Логін або email:<//h6>
                <input type="text" class="form-control" id="enterLogin" placeholder="Введіть логін або пароль" name="enterLogin">
            </div>
        </div>
    
        <div class="form-group"> 
            <div class="col-sm-offset-1 col-sm-10"> 
                <h6>Пароль:<//h6>      
                <input type="password" class="form-control" id="pwdLogIn" placeholder="Введіть пароль" name="pwdLogIn">
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-1 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" name="remember">Запомятати мене</label>
                </div>
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Увійти</button>
            </div>
        </div>
    </form>
</div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5>Для початку</h5>
                <ul>
                    <li><a href="#">Домашня сторінка</a></li>
                    <li><a href="#">Увійти</a></li>
                    <li><a href="#">Зареєструватись</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Про нас</h5>
                <ul>
                    <li><a href="#">Додаткова інформація</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Зв'язок</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Допомога</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Курси</h5>
                <ul>
                    <li><a href="#">Усі курси</a></li>
                    <li><a href="#">Популярні курси</a></li>
                    <li><a href="#">Останні курси</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© 2017 </p>
    </div>
</footer>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Увійти</h4>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-6">
                            <form role="form">
                                <fieldset>
                                    <h2>Введіть логін та пароль</h2>
                                    <hr class="colorgraph">
                                    <div class="form-group">
                                        <input type="email" name="emailLog" id="emailLog" class="form-control input-lg" placeholder="email/логін">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="passwordLog" id="passwordLog" class="form-control input-lg" placeholder="пароль">
                                    </div>
                                    <span class="button-checkbox">
                                        <button type="button" class="btn" data-color="info">Запам'ятати</button>
                                        <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                                        <a href="" class="btn btn-link pull-right">Забули пароль?</a>
                                    </span>
                                    <hr class="colorgraph">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Увійти">
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <a href="registration.html" class="btn btn-lg btn-primary btn-block">Реєстрація</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>
-->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
