@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"].</h2>

<div class="container-fluid" id="registrationDiv">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>Реєстрація</h1>
    </div>
    <form class="form-horizontal" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Логін:</h6>
                <input asp-for="Login" type="text" class="form-control" id="usr" placeholder="Введіть логін" name="Login">
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Ім'я:</h6>
                <input asp-for="FirstName" type="text" class="form-control" id="usr" placeholder="Введіть ім'я" name="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Прізвище:</h6>
                <input asp-for="LastName" type="text" class="form-control" id="usrSurnm" placeholder="Введіть прізвище" name="Lastname">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Email:</h6>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Введіть email" name="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <h6>Ви:</h6>
                <select asp-for="Role" class="form-control" id="selRole">
                    <option value="Lecturer">Лектор</option>
                    <option value="Student">Студент</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Пароль:</h6>
                <input  asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Введіть пароль" name="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Пароль:</h6>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="pwdTwo" placeholder="Підтвердіть пароль" name="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Підтвердити</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid" id="gap2"></div>


<div class="container-fluid" id="logInDiv">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>У Вас є акаунт?/Увійти</h1>
    </div>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Логін або email:</h6>
                <input type="text" class="form-control" id="enterLogin" placeholder="Введіть логін або пароль" name="enterLogin">
            </div>
        </div>
    
        <div class="form-group"> 
            <div class="col-sm-offset-1 col-sm-10"> 
                <h6>Пароль:</h6>      
                <input type="password" class="form-control" id="pwdLogIn" placeholder="Введіть пароль" name="pwdLogIn">
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-1 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" name="remember">Запомятати мене</label>
                </div>
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Увійти</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
