@{
    ViewData["Title"] = "Про нас";
}
<!--*****************//////////MIDDLE///////////*********************-->
<!--*****************//////////MIDDLE///////////*********************-->
<!--*****************//////////MIDDLE///////////*********************-->
<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->
<!--*****************//////////endMIDDLE///////////*********************-->
<!--*****************//////////endMIDDLE///////////*********************-->




<div class="container-fluid">

    <div class="row col-md-10 col-md-offset-1">
        <div class="col-md-4 Yoba">
            <img src="~/img/header11.jpg" class="YobaImg" alt="" style="width:100%; margin:0">
        </div>
        <div class="col-md-4 Yoba">
            <img src="img/header11.jpg" class="YobaImg" alt="" style="width:100%; margin:0">
        </div>
        <div class="col-md-4 Yoba">
            <img src="img/Morty-b-font.jpg" class="YobaImg" alt="" style="width:100%; margin:0">
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2 text-center">
        <strong><h2>“Ви отримуєте від життя лише те, що наважуєтеся попросити. Не бійтеся підвищувати планку”.</h2></strong>
    </div>

    <div class="col-md-2 col-md-offset-5">
        <img src="img/sviwuevz.png" alt="" id="signature">
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <hr>
    </div>

    <div class="row col-md-10 col-md-offset-1" id="aboutUsText">
        <div class="col-md-6"><strong>
                <p>Ви отримуєте від життя лише те, що наважуєтеся попросити. Не бійтеся підвищувати планку.</p>
            </strong>
            <p> Якщо ви знаходитесь на нашому сайті, то ви знаєте чого хочете від життя.
            </p>
        </div>
        <div class="col-md-6">
            Напевно у кожної людини є певні прагення і бажання, яких вона хоче досягнути. І напевно б усі того досягали, якби знали як. Якщо ви такої ж думки, тоді ласкаво просимо до нас!
        </div>
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <hr>
    </div>

    <div class="row text-center col-md-8 col-md-offset-2 slideanim">
        <div class="col-md-4 cards">
            <figire>
                <img src="~/img/polybreno_1500.jpg" alt="Team" class="teamFoto img-responsive img-circle">
                <figcaption class="name">Roman Gumenuk</figcaption>
                <hr class="hr-in-card">
                <figcaption class="profesion">Roman Gumenuk</figcaption>
            </figire>
        </div>
        <div class="col-md-4 cards">
            <figire>
                <img src="~/img/polybreno_1500.jpg" alt="Team" class="teamFoto img-responsive img-circle">
                <figcaption class="name">Roman Gumenuk</figcaption>
                <hr class="hr-in-card">
                <figcaption class="profesion">Roman Gumenuk</figcaption>
            </figire>
        </div>
        <div class="col-md-4 cards">
            <figire>
                <img src="~/img/polybreno_1500.jpg" alt="Team" class="teamFoto img-responsive img-circle">
                <figcaption class="name">Roman Gumenuk</figcaption>
                <hr class="hr-in-card">
                <figcaption class="profesion">Roman Gumenuk</figcaption>
            </figire>
        </div>
    </div>

    <div class="row text-center col-md-8 col-md-offset-2 slideanim">
        <div class="col-md-4 cards col-md-offset-2">
            <figire>
                <img src="~/img/polybreno_1500.jpg" alt="Team" class="teamFoto img-responsive img-circle">
                <figcaption class="name">Roman Gumenuk</figcaption>
                <hr class="hr-in-card">
                <figcaption class="profesion">Roman Gumenuk</figcaption>
            </figire>
        </div>
        <div class="col-md-4 cards">
            <figire>
                <img src="~/img/polybreno_1500.jpg" alt="Team" class="teamFoto img-responsive img-circle">
                <figcaption class="name">Roman Gumenuk</figcaption>
                <hr class="hr-in-card">
                <figcaption class="profesion">Roman Gumenuk</figcaption>
            </figire>
        </div>
    </div>
</div>

<div id="LikeUs" class="slideanim">
    <div class="row col-md-10 col-md-offset-1 onCenter">
		
        <div class="col-md-3 ">
            <img src="~/img/Company-culture-dos-and-donts.png" alt="" id="imgWd">	  
        </div>
			
        <div class="col-md-5 ">
            <span class="onCenter" id="text-like">
                <p><strong>Сподіваємось, Вам сподобалась наші ідея.</strong></p>
                <p>Якщо так, оберіть для себе  курс та отримуйте новий та потрібний досвід.</p>		
            </span>	  
        </div>

        <div class="col-md-4"  >
            <button type="button" class="btn btn-primary btn-block" id="btn-all-course" >Переглянути усі курси </button>
        </div>
    </div>
</div>