@model List<ApplicationUser>
@{
    ViewData["Title"] = "Провідні лектори";
}
<!--*****************//////////MIDDLE///////////*********************-->
<!--*****************//////////MIDDLE///////////*********************-->
<!--*****************//////////MIDDLE///////////*********************-->
<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->
<!--*****************//////////endMIDDLE///////////*********************-->
<!--*****************//////////endMIDDLE///////////*********************-->

<div class="container-fluid">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="row text-center col-md-8 col-md-offset-2 slideanim">
            <div class="col-md-4 cards">
                <a asp-controller="Manage" asp-action="Index" asp-route-id="@Model[i].Id">
                    <figire>
                        <img src="~/@Model[i].ValidImageURL" alt="Team" class="teamFoto img-responsive img-circle">
                        <figcaption class="name">@Model[i].FullName</figcaption>
                    </figire>
                </a>
            </div>
            <h3>@Model[i].AboutMe</h3>
        </div>
    }
</div>