@model IList<Course>
@{
    ViewData["Title"] = "Courses";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    @foreach (var course in Model)
    {
        <a asp-controller="Home" asp-action="CourseInfo" asp-route-id="@course.ID">@course.Name;</a>
    }
</p>
