@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@model List<Theme>
@{
    ViewData["Title"] = "Головна";
}

<!--*****************//////////SLIDER///////////*********************-->
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="15000">
        <!-- Indicators -->
        <!--
                <ol class="carousel-indicators">
                    <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                    <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
                </ol>
        -->
        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Third Slide -->
            <div class="item active">
                <!-- Slide Background -->
                <img src="img/dream-about-business.jpg" /> *
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_right">
                    <h1 data-animation="animated zoomInLeft">Найкращі курси</h1>
                    		<p data-animation="animated fadeInRight">Унікальні курси від успішних людей.</p>
                    <a href="" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Що ми пропонуємо</a>
                    <!--                        <a href="" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>-->
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Second Slide -->
            <div class="item">
                <!-- Slide Background -->
                <img src="img/c700x420.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_center">
                    <h1 data-animation="animated flipInX">Більше ніж 1000 лекцій</h1>
                    <p data-animation="animated lightSpeedIn">Кожен зможе знайти цікаву та потрібну лекцію.</p>
                    <a href="" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Переглянути усі курси</a>
                    <!--                        <a href="" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a>-->
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Third Slide -->
            <div class="item">
                <!-- Slide Background -->
                <!-- Slide Background -->
                <img src="img/success-man-of-value.jpg" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="slide-text slide_style_left">
                            <h1 data-animation="animated zoomInRight">Отримай справжній досвід та реальні історії </h1>
                            <p data-animation="animated fadeInLeft">Великий вибір бізнес курсів на різноманітну тематику.</p>
                            <a href="" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Популярні курси</a>
                            <!--                                <a href="" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
        </div>
        <!-- End of Wrapper For Slides -->
        <!-- Left Control -->
        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!-- Right Control -->
        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<!--*****************//////////endSLIDER///////////*********************-->
<!--*****************//////////endSLIDER///////////*********************-->
<!--*****************//////////endSLIDER///////////*********************-->



<!--*****************//////////CARD///////////*********************-->
<!--*****************//////////CARD///////////*********************-->
<!--*****************//////////CARD///////////*********************-->
<div class="container-fluid" id="containerfirst">
    <div class="container" class="aos-all" id=secondcontainer>
        <!--
                    <div class="col-md-12 aos-item" data-aos="zoom-in">
                        <h1>Що ми пропонуємо</h1></div>
        -->
        <div class="col-md-4 Oportunities aos-item nopadding one" data-aos="fade-up">
            <h3>Що ви отримуєте:</h3>
            <ul>
                <li id="cardUl"><strong>Більше ніж 1000 різноманітних курсів.</strong>Які допомоожуть Вам у вашій подільшій справі.</li>
                <li id="cardUl"><strong>Унікаль курси</strong> Курси, які допоможуть вашій справі. Усі наші курси проходять модерацію та перевірку</li>
                <li id="cardUl"><strong>Кваліфіковані лектори</strong></li>
                <li id="cardUl"><strong>Унікальний досвід та інформація</strong></li>
            </ul>
        </div>
        <div class="col-md-4 Oportunities aos-item nopadding two" data-aos="fade-up-right">
            <h3>Отримайте необхідні знання вдома</h3>
            <strong>Ніяких семінарів та тренінгів.</strong> Потрібна інформація у зручному для Вас місці.
        </div>
        <div class="col-md-4 Oportunities aos-item nopadding three" data-aos="fade-up">
            <h3>Завжди під рукою</h3>
            <strong>Унікальні курси.</strong>Які допомоожуть Вам ц вашій подільшій справі.
        </div>
        <!--
                    <div class="col-md-4 Oportunities aos-item nopadding four" data-aos="fade-up-left">
                        <h3>Що ви отримуєте</h3>
                        <strong>Більше ніж 1000 різноманітних курсів.</strong>Які допомоожуть Вам у вашій подільшій справі.</div>
        -->
    </div>
</div>
<!--*****************//////////endCARD///////////*********************-->
<!--*****************//////////endCARD///////////*********************-->
<!--*****************//////////endCARD///////////*********************-->

<div class="container-fluid text-center" id="popular-them-div">
    <div class="col-md-12">
        <h1>Популярні теми</h1>
        <hr class="under-hr text-center">
    </div>
    <div class="container-fluid">
        <div class="container col-md-10 col-md-offset-1 ">
            @foreach (var theme in Model)
            {
                <a asp-controller="Course" asp-action="Index" asp-route-theme="@theme.ID">
                    <div class="col-sm-3 popular-them">
                        <figure>
                            <i class="fa fa-facebook fa-3x popular-them-item"></i>
                            <figcaption>
                                <p><strong>@theme.Name</strong>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<!--
<div class="container-fluid text-center" id="popular-them-div">
    <div class="col-md-12">
        <h1><strong>Популярні теми</strong></h1>
        <hr class="under-hr text-center">
    </div>
    <div class="container-fluid">
        <div class="container col-md-10 col-md-offset-1 ">
            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-3 popular-them">
                <figure>
                    <i class="fa fa-facebook fa-3x popular-them-item"></i>
                    <figcaption>
                        <p><strong>Them</strong></p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
-->
<!--Steps-->
<!--*****************//////////STEPS///////////*********************-->
<!--*****************//////////STEPS///////////*********************-->
<!--*****************//////////STEPS///////////*********************-->
<div id="steps">
    <div class="container" id="in_steps">
        <div class="row">
            <div class="process">
                <div class="process-row nav nav-tabs">
                    <div class="process-step">
                        <button type="button" class="btn btn-info btn-circle" data-toggle="tab" href="#menu10"><i class="fa fa-sign-in fa-3x"></i></button>
                        <p><small>Пройти<br />реєстрацію</small></p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu9"><i class="fa fa-search fa-3x"></i></button>
                        <p><small>Знайти<br />потрібний курс</small></p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu8"><i class="fa fa-credit-card" style="font-size:36px"></i></button>
                        <p><small>Оплатити<br />курс</small></p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu7"><i class="fa fa-cogs fa-3x"></i></button>
                        <p><small>Пройти курс<br />...</small></p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu6"><i class="fa fa-check fa-3x"></i></button>
                        <p><small>Отримати<br />результат)))</small></p>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="menu10" class="tab-pane fade active in tab-steps text-center">
                    <h3>Реєстрація</h3>
                    <p>Пойдіть стандартну реєстрацію та вибирийте потрібний курс.</p>
                    <ul class="list-unstyled list-inline pull-right">
                        <!--     <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>-->
                    </ul>
                </div>
                <div id="menu9" class="tab-pane fade tab-steps">
                    <h3>Пошук курсів</h3>
                    <p>Вм можете підібрати потрібний вам курс</p>
                    <ul class="list-unstyled list-inline pull-right">
                        <!--
                             <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                             <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                        -->
                    </ul>
                </div>
                <div id="menu8" class="tab-pane fade tab-steps">
                    <h3>Оплата</h3>
                    <p>Виберіть метод оплати та оплатіть курс.</p>
                    <ul class="list-unstyled list-inline pull-right">
                        <!--
                             <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                             <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                        -->
                    </ul>
                </div>
                <div id="menu7" class="tab-pane fade tab-steps">
                    <h3>Ви отримуєте курс</h3>
                    <p>Вибраний курс вам доступний, ви можете переглянути його.</p>
                    <ul class="list-unstyled list-inline pull-right">
                        <!--
                             <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                             <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                        -->
                    </ul>
                </div>
                <div id="menu6" class="tab-pane fade tab-steps">
                    <h3>Пост перегляд</h3>
                    <p>Ви отримуєте потрібні знання та навички.</p>
                    <ul class="list-unstyled list-inline pull-right">
                        <!--
                             <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                             <li><button type="button" class="btn btn-success"><i class="fa fa-check"></i> Done!</button></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--*****************//////////endSTEPS///////////*********************-->
<!--*****************//////////endSTEPS///////////*********************-->
<!--*****************//////////endSTEPS///////////*********************-->

<!-- /#myCarousel -->
@await Component.InvokeAsync("PopularCoursesList")

<div class="container-fluid" id="LikeUs">
    <div  data-aos="fade-in" data-aos-anchor-placement="center-bottom">
        <div class="row col-md-10 col-md-offset-1 onCenter">

            <div class="col-md-3 ">
                <img src="~/img/dream-big.jpg" alt="" id="imgWd">
            </div>

            <div class="col-md-5 ">
                <span class="onCenter" id="text-like">
                    <br><br>
                    <p><strong>Сподобалось, те що Ви побачили?</strong></p>
                </span>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" id="btn-all-course">Переглянути усі курси </button>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-default btn-lg" onclick="topFunction()" id="BtnUp">
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
</button>

@section Scripts{
    <script type="text/jscript" src="~/vendors/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
        $(document).ready(function () {
            $('.carousel').carousel({
                interval:116000
            });
        });
    </script>
}
