@addTagHelper "Nition.TagHelpers.CoursePreviewTagHelper, Nition"
@using Nition.Models
@model Nition.Models.Course

    <page-header>
    @ViewData["Title"]
    <div class="col-md-1"></div>
    <div class="col-md-11" id="gap-in">
        <h1 class="animated slideInLeft">Сторінка оплати</h1>
    </div>
</page-header>
    <course-preview course="@Model"></course-preview>
    <div class="container col-md-11 col-md-offset-2">
        <div class="row">
            <div class="col-xs-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Оберіть спосіб оплати
                        </h3> </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="col-md-12">
                                
                                <div class="funkyradio">
                                    <div class="funkyradio-info">
                                        <input type="radio" name="radio" id="radio5" />
                                        <label for="radio5"> <img src="~/img/download.png" class="img" alt="logo photo" width="200" height="100"> Ви будете перенаправлені на сайт PayPal для оплати  </label>
                                    </div>
                                    
                                    <div class="funkyradio-info">
                                        <input type="radio" name="radio" id="radio3" />
                                        <label for="radio3"> <img src="~/img/WebMoney.jpg" class="img" alt="logo photo" width="200" height="100"> Ви будете перенаправлені на сайт Webmoney для оплати </label>
                                    </div>
                                    <div class="funkyradio-info">
                                        <input type="radio" name="radio" id="radio6" />
                                        <label for="radio6"> <img src="~/img/yamoney_en.jpg" class="img" alt="Logo photo" width="200" height="100"> Ви будете перенаправлені на сайт Yandex для оплати </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <form asp-controller="Course" asp-action="Buy" method="post">
                    <input type="hidden" name="courseID" value="@Model.ID"/>
                    <button type="submit" class="btn btn-success btn-lg btn-block" role="button">Оплатити</button>
                </form>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form"> </div>
        </div>
    </div>
 