@addTagHelper "Nition.TagHelpers.CoursePreviewTagHelper, Nition"
@using Nition.Models.CourseViewModels
@model Nition.Models.CourseViewModels.PopularCoursesViewModel
@{
    ViewData["Title"] = "Популярні курси";
}

<page-header>@ViewData["Title"]</page-header>

<div class="container-fluid">
    @foreach (var course in Model)
    {
        <course-preview course="@course"></course-preview>
    }
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-controller="Course" asp-action="PopularCourses"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-controller="Course" asp-action="PopularCourses"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
