@{
    ViewData["Title"] = "Заборонено!";
}

<!--*****************//////////MIDDLE///////////*********************-->
<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->


<header>
    <h1 class="text-danger">Доступ заборонено.</h1>
    <p class="text-danger">Ви не авторизовані, або у вас недостатньо прав для доступу.</p>
</header>
