@{
    ViewData["Title"] = "Підтвердження пошти";
}

<!--*****************//////////MIDDLE///////////*********************-->
<page-header>@ViewData["Title"]</page-header>
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->

<div>
    <p>
        Дякуємо за підтвердження вашої пошти. <a asp-controller="Account" asp-action="Login">Натисніть щоб ввійти</a>.
    </p>
</div>
