@{
    ViewData["Title"] = "Необхідне підтвердження";
}

<!--*****************//////////MIDDLE///////////*********************-->
<page-header>@ViewData["Title"]</page-header>
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->

<div>
    <p>
        Ви зареесртрувались на Nition. Наступним кроком буде підтвердження вашої пошти. На email вже було надіслано листа. <a asp-controller="Home" asp-action="Index">Повернутись на головну</a>.
    </p>
</div>