@using Nition.Models.AccountViewModels
@model Nition.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}

<!--*****************//////////MIDDLE///////////*********************-->
<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->


<div class="container-fluid" id="registrationDiv">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>Реєстрація</h1>
    </div>
    <form class="form-horizontal" asp-controller="Account" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <label asp-for="Login"></label>
                <input asp-for="Login" type="text" class="form-control" id="usr" placeholder="Введіть логін" name="Login">
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" type="text" class="form-control" id="usr" placeholder="Введіть ім'я" name="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text" class="form-control" id="usrSurnm" placeholder="Введіть прізвище" name="Lastname">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Введіть email" name="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <label asp-for="Role"></label>
                <select asp-for="Role" asp-items="@ViewBag.Roles" class="form-control" id="selRole">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Введіть пароль" name="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="pwdTwo" placeholder="Підтвердіть пароль" name="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Підтвердити</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid" id="gap2"></div>


<div class="container-fluid" id="logInDiv">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>У Вас є акаунт?/Увійти</h1>
    </div>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <h6>Логін або email:</h6>
                <input type="text" class="form-control" id="enterLogin" placeholder="Введіть логін або пароль" name="enterLogin">
            </div>
        </div>
    
        <div class="form-group"> 
            <div class="col-sm-offset-1 col-sm-10"> 
                <h6>Пароль:</h6>      
                <input type="password" class="form-control" id="pwdLogIn" placeholder="Введіть пароль" name="pwdLogIn">
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-1 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" name="remember">Запомятати мене</label>
                </div>
            </div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Увійти</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
