@model  Course

<body>

<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@Model.Title</h1>
    </div>
</div>

	<div class="container-fluid">
	<div class="col-md-12">
		<hr class="hr-min">
		<div class="container-fluid row"></div>
		<div class="col-md-3 row">
   <!--*****************//////////authot(img+name)///////////*********************-->
			<ul class="list-inline">
				<li>
					<figure>
						<img src= "~/@Model.Author.ValidImageURL" class="img-responsive img-circle" alt="author" id ="authorImgHead">
						<figcaption>Лектор:</figcaption>
					</figure>
				</li>
				<li>
					<h4 style="margin-top:0;">@Model.Author.FullName</h4></li>
			</ul>
		</div>
		<!--*****************//////////ours+numberVideo+numberPeopleBay///////////*********************-->
		<div class="col-md-4" id="About-course">
			<ul class="list-inline">
				<li>
					<figure class="about-1">
						<i class="fa fa-clock-o" aria-hidden="true" style="font-size:57px"></i>
						<figcaption>Час</figcaption>
					</figure>
				</li>
				<li>
					<figure class="about-1">
						<i class="fa fa-file-video-o" aria-hidden="true" style="font-size:57px"></i>
						<figcaption>Відео-3</figcaption>
					</figure>
				</li>
				<li>
					<figure class="about-1">
						<i class="fa fa-users" aria-hidden="true" style="font-size:57px"></i>
						<figcaption>3</figcaption>
					</figure>
				</li>
			</ul>
		</div>
   <!--*****************//////////price///////////*********************-->
		<div class="col-md-2">
			<h2>Price</h2>
			<h4>@Model.Price</h4>
		</div>
   <!--*****************//////////buttonBay///////////*********************-->
		<div class="col-md-3">
			<span>
			<button type="button" class="btn btn-primary btn-block" id="buyButt">Купити цей курс</button>	
			</span>
		</div>

	</div>
   <!--*****************//////////courseIMG///////////*********************-->
	<div class="col-md-6 col-md-offset-3">
		<img src="~/@Model.ValidImageURL" alt="img-course" style="margin: 0 auto;">
	</div>
   <!--*****************//////////allDescription///////////*********************-->
	<div class="col-md-12" style="margin:1vh">
	    <span>
	        @Model.Description
	    </span>
	</div>
</div>

    <!--*****************//////////endCOURSE///////////*********************-->
	<!--*****************//////////endCOURSE///////////*********************-->
	<!--*****************//////////endCOURSE///////////*********************-->

	<script type="text/javascript" src="vendors/jquery.min.js"></script>
	<script type="text/javascript" src="vendors/js/bootstrap.min.js"></script>
	<script type="text/jscript" src="vendors/aos.js"></script>
	<script type="text/javascript" src="JS/common.js"></script>
	<script>
		AOS.init({
			easing: 'ease-in-out-sine'
		});
		$(document).ready(function () {
			$('.carousel').carousel({
				interval: 6000
			})
		});
	</script>
</body>