@addTagHelper "Nition.TagHelpers.CommentTagHelper, Nition"
@using System.Collections.Generic
@using System.Linq
@using Nition.Data
@using Nition.Models
@inject UserManager<ApplicationUser> UserManager
@model Course

<!--*****************//////////comments///////////*********************-->



        <!--*****************//////////commentInfo///////////*********************-->
        <div class="col-md-12 commentDiv row">
            <hr class="commentHr">
        </div>

        @foreach (var comment in Model.Comments)
        {
            <comment comment="@comment"
                     return-url="@ViewData["ReturnUrl"]" @*Только админ и сам пользователь может тереь коменты*@
                     can-delete="@(User.IsInRole(RolesData.Admin) || comment.User.Id == UserManager.GetUserId(User))">
            </comment>
        }
        <!--*****************//////////otherCommentEnd///////////*********************-->



<script type="text/javascript" src="~/vendors/jquery.min.js"></script>
<script>
    $(function () {
        $('.deleteCommentButton').click(function (event) {
                
            $.post(
                '/Course/DeleteComment?commentID=' + $(this).attr('commentID')
            );
            event.preventDefault();
        });
    });
</script>
