@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <ul class="nav navbar-nav navbar-right">
            <li class="userImgHead">
                <a class="navbar-brand userImgHead" asp-controller="Manage" asp-action="Index" title="Manage">
                    <img style="height: 99%;" class="img-responsive img-circle userImgHead" src="~/@UserManager.GetUserAsync(User).Result.ValidImageURL" alt=""> 
                </a>
            </li>
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage" asp-route-id="@UserManager.GetUserAsync(User).Result.Id">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <form method="post">
                    <button asp-controller="Account" asp-action="Logout" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </form>
            </li>
        </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span>Зареєструватися</a></li>
        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span>Увійти</a></li>
    </ul>
}
