@{
    ViewData["Title"] = "Помилка";
}
<!--*****************//////////MIDDLE///////////*********************-->
<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->

@ViewData["Message"];