@using Nition.Models
@model Course
@(ViewData["Titile"]=Model.Title)

<page-header content="@ViewData["Title"]"></page-header>
	<!--*****************//////////COURSE///////////*********************-->
	<!--*****************//////////COURSE///////////*********************-->
<style>
    #ModalEdit {
        position: fixed;
        top: auto;
        right: 0%;
        left: 0%;
        bottom: 0;
        transition: 2s;
    }
</style>


<div class="lesson-container">
    <div class="text-center">
        <h2><strong>Уроки</strong></h2>
    </div>
    <br/>
    @await Component.InvokeAsync("LessonList", new { courseID = Model.ID});
    <div class="lesson-add-button" bs-toggle-modal="addLessonForm">
        <div class="lesson-card-content" style="display: flex; height: 100%; margin-top: 5px;">
            <i class="fa fa-plus fa-2x" style="margin: auto;"></i>
        </div>
    </div>
</div>