@import "variables.less";
@import "mixins.less";
#course-property {
    display: inline-block;
}

#About-course figcaption {
    text-align: center;
}

.about-1 {
    margin-left: 1vh;
}

#buyButt {
    margin-top: 10px;
    width: 100%;
    height: 57px;
    background-color: #16919d;
    font-size: 1.3em;
}

#all-about-course {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.3em;
}

#description-min {
    font-size: 1.4em;
}

.course {
    background-color: @background;
    display: flex;
    justify-content: space-around;
}

.course-header{
    margin-top:0px;
}
.course-container {
    width: 60%;
    background: white;
    padding: 10px;
    .box-shadow(@shadow-default);
}

.image-container {
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.image-course-container {
    .image-container;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.lesson-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson-card,
.lesson-add-button {
    height: 130px;
    width: 300px;
    position: relative;
    margin-bottom: 50px;

    &-left-wing,
    &-right-wing {
        position: absolute;
        display: inline;
        width: 50%;
        z-index: 0;
        transform: skewY(13deg) scaleY(1.25);
        height: inherit;
        background-color: white;
        left: 0%;
        background-color: white;
        .box-shadow(@shadow-default);
        transition: box-shadow .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &-right-wing {
        width: 50%;
        transform: skewY(-13deg) scaleY(1.25);
        left: 50%;
    }

    &-left-wing:hover,
    &-right-wing:hover {
        .box-shadow(@shadow-rised);
    }

    &-delete,
    &-edit {
        transform: skewY(-11deg) scaleY(0.8);
        position: relative;
        left: 35%;
        top: 30%;
        opacity: 0.5;
        transition: all .3s;
    }

    &-delete {
        transform: skewY(11deg) scaleY(0.8);
    }

    .stats {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    h4 {
        text-align: center;
        margin: 10px;
    }
}

.lesson-add-button {
    height: 40px;
    width: 70px;
}

.locked {
    opacity: 0.5;
}

.lesson-card-content-locked,
.lesson-card-content {
    width: inherit;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    text-align: justify;
    transition: opacity, .3s;
}

.lesson-card-content-locked {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    margin: auto;
    opacity: 0.6;
    transition: all, .3s;
}

.image-avatar-container {
    .image-container;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.course-header-container {
    display: flex;
    flex-wrap: wrap;
}

#authorAboout {
    padding-right: 1vh;
    padding-left: 1vh;
    border: solid;
    border-color: #ffffff;
    border-width: 0.5vmin;
    color: black;

    &:hover {
        border: solid;
        border-color: #f4f4f4;
        border-width: 0.5vmin;
        background-color: #f0f0f0;
    }
}

.openLesson:hover {
    background-color: #f0f0f0;
    border: solid;
    border-color: #36a8a8;
    border-width: 0.19vmin;
    color: black;
}

.numLessonTh {
    width: 7em;
}

.delButt,
.editButt {
    width: 5em;

    &:hover {
        background-color: #cccccc;
    }
}

#addCourseButt {
    margin-bottom: 1vh;
}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

#addLesson {
    background-color: #f0f0f0;
}

#newCourse {
    background-color: #ffffff;
    border: solid;
    border-color: #ebebeb;
    border-width: 0.19vmin;
}

#showCourseButt {
    margin: 1vmin;
}

#emptyInput {
    padding: 0;
    margin: 0;
    border: solid;
    border-color: #931010;
    background-color: #d9d9d9;
    border-width: 0.1vmin;
    color: #ffffff;
    font-size: 1.2em;
}

@media (max-width: 969px) {
    .head {
        text-align: center;
    }

    #buyButt {
        margin: 0;
        padding: 0;
    }

    #img-course {
        padding-top: 1vh;
    }

    .course-container {
        width: 100%;
        background: white;
        box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
    }
}

.comment {
    overflow: visible;
    padding: 5px;
    border-top-style: solid;
    border-width: 1px;

    a.comment-image {
        display: block;
        float: left;
    }

    img.comment-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        vertical-align: top;
    }

    &-header {
        &-info {
            margin-left: 55px;

            &-report,
            &-delete {
                float: right;
                font-size: 1.15em !important;
                color: rgba(73, 85, 75, 0.6);
                transition: color .3s;
            }

            &-report:hover {
                color: crimson;
            }

            &-delete:hover {
                color: black;
            }

            &-time {
                margin-left: 5px;
                color: rgba(73, 85, 75, 0.6);
                font-size: 0.8em;
            }
        }
    }

    &-content {
        text-align: left;
    }
}
