@{
    ViewData["Title"] = "Contact";
}

<!--*****************//////////MIDDLE///////////*********************-->
<!--*****************//////////MIDDLE///////////*********************-->
<!--*****************//////////MIDDLE///////////*********************-->
<div class="container-fluid" id="gap">
    <div class="col-md-12" id="gap-in">
        <h1>Зв'язатись з нами</h1>
    </div>
</div>
<!--*****************//////////endMIDDLE///////////*********************-->
<!--*****************//////////endMIDDLE///////////*********************-->
<!--*****************//////////endMIDDLE///////////*********************-->
<div>
    <img src="~/img/map.PNG" class="YobaImg" alt="" style="width: 100%; margin: 0">
</div>


<div id="contactContainer" class="container-fluid">
    <div class="container">
        <h3 class="text-center">Напишіть нам ... </h3>
        <p class="text-center"><em>Чекаємо на ваші побажання та зауваження</em></p>
        <div class="row test">
            <div class="col-md-4">
                <p>Наші додаткові контакти:</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Lviv, UA</p>
                <p><span class="glyphicon glyphicon-phone"></span> Phone: +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> Email: mail@mail.com</p>
                <div class="social-networks-contacts">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name" class="label-contact">Ваше ім'я</label>
                        <input class="form-control" id="name" name="name" placeholder="Ваше ім'я .." type="text" required>
                        <label for="email" class="label-contact">Ваш email</label>
                        <input class="form-control" id="email" name="email" placeholder="Ваш еmail .." type="email" required>
                        <label for="subject" class="label-contact">Тема</label>
                        <input class="form-control" id="subject" name="subject" placeholder="Тема вашого повідомлення .. " type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="comments" class="label-contact">Повідомлення</label>
                        <textarea class="form-control" id="comments" name="comments" placeholder="Ваш коментар....." rows="7"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn btn-primary pull-right" type="submit" id="sendMessage">Відправити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="~/vendors/jquery.min.js"></script>
<script type="text/javascript" src="~/vendors/js/bootstrap.min.js"></script>
<script type="text/jscript" src="~/vendors/aos.js"></script>
<script type="text/javascript" src="~/js/common.js"></script>